.btn-a-X{
  padding: .5em .8em;
  color: #3300FF;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.btn-a-X::before,
.btn-a-X::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.btn-a-X::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid red;
  border-right: 3px solid red;
  transform: translate(-100%, 50%);
}

.btn-a-X:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid red;
  border-left: 3px solid red;
  transform: translate(100%, -50%)
}

.btn-a-X:hover:before,
.btn-a-X:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.btn-a-X:hover {
  color: red;
  text-decoration: "none"
}